name: Monitor Plafond Telegram Artifact

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  monitor:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Download previous artifact
        uses: actions/download-artifact@v4
        with:
          name: old_value
          path: .

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: pip install requests

      - name: Run monitor script
        run: python monitor_plafond_telegram_artifact.py
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
          API_URL: ${{ secrets.API_URL }}

      - name: Upload new artifact
        uses: actions/upload-artifact@v4
        with:
          name: old_value
          path: old_value.json
